body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  color: #333;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  margin-bottom: 20px;
  color: #007bff;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border: none;
  border-radius: 8px;
  background-color: #f2f2f2;
  color: #333;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

#weatherInfo {
  margin-top: 20px;
  text-align: left;
}

#weatherInfo h2 {
  margin-bottom: 10px;
  color: #007bff;
}

#weatherInfo p {
  margin: 5px 0;
}

/* Media Queries for responsiveness */
@media (max-width: 767px) {
  .container {
    max-width: 100%;
    border-radius: 0;
    box-shadow: none;
    padding: 10px;
  }
}

